*.Rproj
.RHistory
.RData
*.RData
*~
.Rproj.user
data/*fa
data/*fxi
caleb/hisat2/*
caleb/hisat2_genome/*
tools/
indices/
otpc/__pycache__/
otpc/build/
otpc/otpc.egg-info/
otpc/test_data/
otpc/test_results/
hayden/
