*.Rproj
.RHistory
.RData
*.RData
*~
.Rproj.user
bowtie/
hisat2/chess3.1.1.GRCh38.genes.fmted.bed
hisat2/gencode_transcriptome.1.ht2
hisat2/gencode_transcriptome.2.ht2
hisat2/gencode_transcriptome.3.ht2
hisat2/gencode_transcriptome.4.ht2
hisat2/gencode_transcriptome.5.ht2
hisat2/gencode_transcriptome.6.ht2
hisat2/gencode_transcriptome.7.ht2
hisat2/gencode_transcriptome.8.ht2
hisat2/gencode.v47.annotation.gtf
hisat2/gencode.v47.transcripts.fa
hisat2/human.1.rna.fna
hisat2/overlaps_xenium.bed
hisat2/overlaps_xenium1.bed
hisat2/probes_genome.bed
hisat2/probes_genome1.bed
hisat2/probes_positive.bam
hisat2/probes_positive.bed
hisat2/probes_transcriptome.bam
hisat2/probes_transcriptome.bam.bai
hisat2/probes_transcriptome.bed
hisat2/probes_transcriptome.sam
hisat2/transcript_to_genome_map.tsv
hisat2/xenium_human_breast_gene_expression_panel_probe_sequences.fasta
